.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.card-fixed-height {
    height: auto; /* Defina a altura desejada */
    max-height: 100vh;
    width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-container{
    position: fixed;
    bottom: 0;
    left: 0;    
    height: auto;    
    width: 220vh;
    max-width: 220;
    display: flex;
    flex-direction: row;
    background-color: gray;     
}

.copyright{
    position: fixed;
    bottom: 0;
    left: 147vh;    
    height: auto;    
    width: 100vh;
    max-width: 100vh;
    display: flex;
    flex-direction: row;
    background-color: gray;     
}

.text{
    text-align: justify;
    font-size: large;
    margin: 10px;
    border-radius: 2%;
    padding: 10px;
    background-color: rgb(238, 226, 226);
}

.h3{
    text-align: center;
    font-size: large;
}

.col-md-14 {
    flex: 0 0 auto;
    width: 116.666667%;
}

.col-md-16 {
    flex: 0 0 auto;
    width: 133.333333%;
}

.col-md-18 {
    flex: 0 0 auto;
    width: 150%;
}