.div-body {
    /* background-image: url("logo512.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    position: relative; 
        
}

/* Garantir que o conteúdo ocupe pelo menos 100% da altura da janela */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

/* Garantir que o container principal ocupe pelo menos 100% da altura da janela */
.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* Garantir que o conteúdo principal cresça para ocupar o espaço disponível */
.container > .content {
    flex: 1;
}

/* Garantir que o footer esteja fixado na parte inferior apenas quando necessário */
footer {
    flex-direction: row;
    text-align: left;
    padding: 10px;
    position: relative;
    width: 100%;
    bottom: 0;
    display: flex;
    left: 0;
}




  
  
  

